/* shared styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* background-color: rgb(229, 229, 229); */
    font-family: 'Open Sans', sans-serif;
    /* width: 1000px; */
    width: auto;
    height: auto;
    /* border: 1px solid red; */
    /* padding: 20px; */
}
/* .section-main{
    margin-bottom: 20px;
    border: 5px dotted black;
} */
/* common shared styles start */
.btn-primary {
    width: 150px;
    height: 50px;
    border-radius: 8px;
    border: 0;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

.info-title {
    color: #131318;
    text-align: center;
    font-size: 35px;
    font-weight: 800;
}

.text-gray {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

/* common shared styles end */

/* HEADER */

/* <!-- navbar styles start --> */
/* <!-- navbar styles end --> */

/* <!-- banner section-styles start --> */
.header-main {
    width: 100%px;
    margin: 0 auto;
    text-align: center;
    /* border: 2px solid gold; */
    padding: 140px 160px;



}

.header-img {
    border-radius: 16px;
    background: linear-gradient(150deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    border-radius: 8px;
    width: 100%px;
    background-position: center;


}

.header-main .travel-description,
h1 {
    color: #FFF;
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
}

.selection-container {
    display: flex;
    text-align: center;
    justify-content: center;
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);


}

.selection-title p {
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.selection-title {
    border-radius: 8px;
    background: #FFF;
    padding-top: 10px;
    width: 150px;
    height: 40px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

.fa-solid {
    margin-left: 15px;
    margin-right: 0;
}

/* <!-- banner section styles end --> */

/* <!-- our popular tours section styles START --> */
.popular-section-container {
    width: 100%;
    height: auto;
    display: flex;
    gap: 10px;
    margin-top: 40px;
}

.popular-section-info {
    width: 50%;
    height: auto;
    /* margin-left: 20px; */
    padding-left: 25px;
    /* border: 2px solid rgb(1, 207, 39); */

}

.popular-info-title {
    margin-right: 100px;
}

.btn-popular {
    margin: 20px 0 15px 0;
}

.popular-section-img {
    width: 50%;
    height: auto;
    /* border: 2px solid rgb(144, 12, 12); */
}

.popular-section-img img {
    width: 100%;
    background-repeat: no-repeat;
    /* border: 5px solid navajowhite; */
    height: auto;
    /* padding: 15px; */

}

/* <!-- our popular tours section styles END --> */

/* Destination section styles START */
/* main container styles */
.destination-section-container {
    width: 100%;
    height: auto;
    margin-top: 15px;
    border: 2px solid rgb(8, 7, 7);
    background-color: rgb(218, 215, 215);
}

.destination-description {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

.destination-row-1 {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    margin-top: 10px;
    /* padding: 20px; */
    width: 100%;
    /* height: 350px; */
    height: auto;
    border: 2px solid gold;
}

 .destination {
    position: relative;
    text-align: center;
    width: 100%;
    height: auto;
    border: 2px solid rgb(16, 5, 179);
}

.destination .destination-title {
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.destination img {
    /* margin-bottom: 100px; */
    /* height: 100%; */
    height: 300px;
    width: 100%;
    padding: 10px;
    background-repeat: no-repeat;
}

/* row 1: 2 */
/* .destination {
    position: relative;
    text-align: center;
    width: 100%;
    height: auto;
    border: 2px solid rgb(6, 167, 247);
} */

/* .destination .destination-title {
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

} */

/* .destination img {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
} */

/* row-2 */
.destination-row-2 {
    margin: 15px 0;
    display: grid;
    gap: 15px;
    grid-template-columns: 290px auto 290px;
    /* display: flex; */
    /* justify-content: space-around; */
    /* grid-template-columns: repeat(30px , 40px, 30px); */
    /* grid-template-columns: repeat(3,1fr); */
}
/* row-3 */
.destination-row-3{
    width: 100%;
    margin: 15px 0;
    display: grid;
    gap: 15px;
    grid-template-columns: 450px  auto;
}


/* Destination section styles END */




/* responsive css */
/* Responsive for mobile */
@media screen and (max-width: 600px) {
    /* .header-main {
        max-width: 600px;
        height: auto;
    } */

    .selection-container,
    .popular-section-container {
        flex-direction: column;
        /* height: 100%; */
    }

    .popular-section-info {
        width: 100%;
        /* height: 100%; */
    }

    .popular-section-img {
        width: 100%;
         /* height: 100%; */
    }

    .destination-row-1 {
        flex-direction: column;
    }
    .destination-row-2 , .destination-row-3{
        grid-template-columns: repeat(1,1fr);
    }
    .travel-description {}
}