/* shared styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Open Sans', sans-serif;

    width: auto;
    height: auto;

}

/* common shared styles start */
.btn-primary {
    width: 150px;
    height: 50px;
    border-radius: 8px;
    border: 0;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

.info-title {
    color: #131318;
    text-align: center;
    font-size: 35px;
    font-weight: 800;
}

.text-gray {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

/* common shared styles end */

/* HEADER */

/* <!-- navbar styles start --> */
/* <!-- navbar styles end --> */

/* <!-- banner section-styles start --> */
.header-main {
    width: 100%px;
    margin: 0 auto;
    text-align: center;
    /* border: 2px solid gold; */
    padding: 140px 160px;



}

.header-img {
    border-radius: 16px;
    background: linear-gradient(150deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    border-radius: 8px;
    width: 100%px;
    background-position: center;


}

.header-main .travel-description,
h1 {
    color: #FFF;
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
}

.selection-container {
    display: flex;
    text-align: center;
    justify-content: center;
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);


}

.selection-title p {
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.selection-title {
    border-radius: 8px;
    background: #FFF;
    padding-top: 10px;
    width: 150px;
    height: 40px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

.selection-container .fa-solid {
    margin-left: 15px;
    margin-right: 0;
}

/* <!-- banner section styles end --> */

/* <!-- our popular tours section styles START --> */
.popular-section-container {
    width: 100%;
    height: auto;
    display: flex;
    gap: 10px;
    margin-top: 40px;
}

.popular-section-info {
    width: 50%;
    height: auto;
    /* margin-left: 20px; */
    padding-left: 25px;
    /* border: 2px solid rgb(1, 207, 39); */

}

.popular-info-title {
    margin-right: 100px;
}

.btn-popular {
    margin: 20px 0 15px 0;
}

.popular-section-img {
    width: 50%;
    height: auto;
    /* border: 2px solid rgb(144, 12, 12); */
}

.popular-section-img img {
    width: 100%;
    background-repeat: no-repeat;
    /* border: 5px solid navajowhite; */
    height: auto;

}

/* <!-- our popular tours section styles END --> */

/* Destination section styles START */
/* main container styles */
.destination-section-container {
    width: 100%;
    height: auto;
    margin-top: 15px;
}

.destination-description {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

.destination-row-1 {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    margin-top: 10px;
    width: 100%;
    height: auto;
    /* border: 2px solid gold; */
}

.destination {
    position: relative;
    text-align: center;
    width: 100%;
    height: auto;
    /* border: 2px solid rgb(16, 5, 179); */
}

.destination .destination-title {
    color: #FFF;
    text-align: center;
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.destination img {
    height: 300px;
    width: 100%;
    padding: 10px;
    background-repeat: no-repeat;
}

/* row-2 */
.destination-row-2 {
    margin: 5px 0;
    display: grid;
    gap: 10px;
    grid-template-columns: 290px auto 290px;
}

/* row-3 */
.destination-row-3 {
    width: 100%;
    margin: 5px 0;
    display: grid;
    gap: 10px;
    grid-template-columns: 450px auto;
}

/* Destination section styles END */
/* Why Choose Us section styles START */
.services-section-cotainer {
    /* border: 2px solid black; */
    /* margin: 0 auto; */
}

.row-item {
    /* border: 2px solid rgb(228, 12, 12); */
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    margin: 0 auto;
    padding: 15px;
    width: 100%;
    height: auto;
}

.icon {
    width: 40px;
    height: 40px;
    /* margin-top: 15px; */
    /* border: 5px solid lime; */
}

.title {
    color: #131318;
    /* text-align: center; */
    font-size: 20px;
    font-weight: 800;
}

.hotel-servie-row-1 {
    width: 50%;
    height: auto;
    border-radius: 15px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.hotel-servie-row-2 {

    width: 50%;
    height: auto;
    border-radius: 15px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.hotel-servie-row-3 {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    width: 50%;
    padding: 15px;
    margin: 0 auto;
    
}

/* Why Choose Us section styles END */




/* responsive css for mobile*/

@media screen and (max-width: 600px) {

    .selection-container,
    .popular-section-container {
        flex-direction: column;
        width: 100%;
        /* height: 100%; */
    }

    .travel-description {
        /* display: none; */
        width: 100%;
    }

    .destination-description {
        width: 400px;
    }

    .header-welcome,
    p {
        /* width: 400px;
       margin: 0 auto; */
    }

    .selection-title {
        width: 100%;
    }

    .selection-container .btn-primary {
        width: 100%;
    }

    .popular-section-info {
        width: 100%;
        /* height: 100%; */
    }

    .popular-section-img {
        width: 100%;
        /* height: 100%; */
    }

    .destination-row-1 {
        flex-direction: column;
    }

    .destination-row-2,
    .destination-row-3 {
        grid-template-columns: repeat(1, 1fr);
    }

    .row-item {
        flex-direction: column;
    }

    .hotel-servie-row-1,
    .hotel-servie-row-2 {
        width: 100%;
    }

    .hotel-servie-row-3 {
        width: 100%;
    }

    .travel-description {}
}