/* Responsive for mobile */
@media screen and (max-width: 600px) {
    /* .header-main {
        max-width: 600px;
        height: auto;
    } */

    .selection-container,
    .popular-section-container {
        flex-direction: column;
    }

    .popular-section-info {
        width: 100%;
    }

    .popular-section-img {
        width: 100%;
    }

    .travel-description {}
}