/* css styles START--- for responsive */
@media screen and (max-width: 600px) {
    body {
        border: 1px solid red;
    }
    /* .header-main  img{
        
        width: 100%px;
        height: 500px;
    } */
    .header-main{
        width: 100%;
        /* background-size: 400px; */
    }
    .selection-container{
        flex-direction: column;
    }
}